*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Mallanna', sans-serif;
}

h1 {
  text-align: center;
}

form {
  margin-top: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 250px;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

button {
  padding: 8px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

#status {
  margin-top: 20px;
}

#callButton {
  display: none;
}

#loginForm {
  display: flex;
  flex-direction: column;
}

.container {
  min-width: 800px;
  /* margin: 50px auto; */
  padding: 20px;
  background-color: rgb(15, 15, 20);
  /* border-radius: 20px; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container.registration_container {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container.history_container {
  display: none;
  min-width: 600px;
  flex-direction: column;
  position: relative;
}

.container.main_container {
  min-width: 700px;
  display: none;
  padding-top: 20px;
  position: relative;
  justify-content: center;
}

.main_wrapper {
  display: flex;
  flex-direction: column;
}

.calls_history_btn {
  position: absolute;
  top: 20px;
  left: 20px;
}

.container.call_container {
  display: none;
  position: relative;
}

.popup_incoming {
  z-index: 1000;
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(38, 38, 38);
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  color: white;
}

.buttons_wrapper {
  display: flex;
  gap: 40px;
}

.accept_call {
  color: white;
  background-color: rgb(10, 169, 65);
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.accept_call:hover {
  background-color: rgba(10, 169, 65, 0.9);
}

.terminate_call {
  background-color: rgb(241, 0, 28);
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.terminate_call:hover {
  background-color: rgba(241, 0, 28, 0.9);
}

.remote_name {
  margin-bottom: 10px;
}

.form_container {
  margin-top: 10px;
}

.mic_access {
  color: rgb(10, 169, 65);
  height: 20px;
}

#reset_button {
  background-color: rgb(241, 0, 28);
  color: white;
}

#reset_button:hover {
  background-color: rgba(241, 0, 28, 0.9);
}

#callButton {
  display: inline;
  color: white;
  background-color: rgb(10, 169, 65);
  color: white;
}

#callButton:hover {
  background-color: rgba(10, 169, 65, 0.9);
}

.wrong_number {
  color: rgb(10, 169, 65);
  height: 20px;
  margin: 0;
  font-size: 12px;
}

.back_to_main {
  position: absolute;
  top: 20px;
  right: 20px;
}

.unregister_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  background-color: rgb(208, 61, 69);
}

.unregister_btn:hover {
  background-color: rgba(208, 61, 69, 0.9);
}

.retry_button {
  background-color: rgb(10, 169, 65);
  color: white;
}

.retry_button:hover {
  background-color: rgba(10, 169, 65, 0.9);
}

.incoming_name {
  font-size: 16px;
  color: white;
}
